/**
 * Main color codes:
 *
 * Blue links: #428bca (from bootstrap)
 * Main navigation red links: #A55F53 (from civicrm.org)
 */

/**
 * Logo, site slogan
 */
header#navbar p.lead {
  position: absolute;
  top: 95px;
  left: 110px;
  font-size: 13px;
  color: #428bca;
}

/**
 * Main menu
 */
.navbar-default .navbar-nav {
  position: absolute;
  bottom: 1em;
  right: 0;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active > a:hover,
.navbar-default .navbar-nav > li.active > a:focus {
  background: inherit;
  color: #A55F53;
  text-transform: uppercase;
  border-right: 1px solid #B86E7A;
  box-shadow: inherit;
  padding-top: 2px;
  padding-bottom: 2px;
}

.navbar-default .navbar-nav li.last a,
.navbar-default .navbar-nav li.active.last a {
  border-right: 0px;
}

.navbar-default .navbar-nav > li.active > a:hover,
.navbar-default .navbar-nav > li.active > a:focus {
  text-decoration: underline;
}

/**
 * Mini top user menu
 */
.region-navigation .block-menu {
  height: 2em; /* because of floats, avoid the div being too big and breaking other links below */
}
.region-navigation ul.nav {
  float: right;
  padding-top: 5px;
}
.region-navigation .nav > li {
  float: left;
  border-right: 1px solid #006285;
}

.region-navigation .nav > li.last {
  border-right: inherit;
}

.region-navigation .nav > li > a,
.region-navigation .nav > li > a:focus {
  display: inline;
  background: inherit;
}

/* Hide 'Login' link to logged in users */
body.logged-in .region-navigation .nav > li:nth-child(3) {
  display: none;
}


/**
 * Front page. General stuff.
 */
/* hide the title of the node */
body.front h1.page-header {
  display: none;
}

body.front .region-content {
  padding-top: 2em;
}

/**
 * Front page buttons
 * NB: mobile first.
 */
.civilight2014-front-main-actions.navbar-nav {
  margin: 0 auto;
  width: 300px;
}

.civilight2014-front-main-actions li {
  padding-top: 3em;
  background-color: #eee;
}
.civilight2014-front-main-actions li:hover,
.civilight2014-front-main-actions li:focus {
  background-image: url('../images/slant-tile.png');
}

.civilight2014-front-main-actions li a {
  width: 300px;
  height: 220px;
  line-height: 400px;
  text-align: center;
  display: block;
}


.civilight2014-front-main-actions li a:hover,
.civilight2014-front-main-actions li a:focus {
  text-decoration: underline;
}

.civilight2014-front-main-actions li a {
  font-family: 'Oswald';
  font-weight: 300;
  font-size: 27px;
  line-height: 110%;
  color: black;
}

.civilight2014-front-main-actions li.civilight2014-front-main-actions-discover a {
  background: url(../images/button-civicrm-discover.png) no-repeat center bottom;
}

.civilight2014-front-main-actions li.civilight2014-front-main-actions-help a {
  background: url(../images/button-civicrm-help.png) no-repeat center 65px;
}

.civilight2014-front-main-actions li.civilight2014-front-main-actions-community a {
  background: url(../images/button-civicrm-community.png) no-repeat center 65px;
}

@media (min-width: 768px) {
  /* display horizontally */
  .civilight2014-front-main-actions.navbar-nav {
    width: 100%;
  }

  .civilight2014-front-main-actions-wrapper {
    width: 975px;
    margin: 0 auto;
  }

  .civilight2014-front-main-actions li {
    margin-right: 25px;
    padding-top: 0;
  }
}

/**
 * Footer
 */
.region-content {
  padding-bottom: 100px;
}

body > footer {
  background: #056186;
  color: #fff;
}

body > footer .container {
  padding-top: 2em;
}

.civilight2014-footer-civicrm-civiorg {
  padding-bottom: 2em;
}

.civilight2014-footer-civicrm-civiorg a {
  display: block;
  height: 50px;
  line-height: 50px;
  background: url('../images/bottom-logo.png') no-repeat;
  padding-left: 150px;
}

.civilight2014-footer-civicrm-civiorg a {
  color: #fff;
}

.civilight2014-footer-civicrm-civiorg a:hover,
.civilight2014-footer-civicrm-civiorg a:focus {
  text-decoration: underline;
}

.civilight2014-footer-license-icon {
  float: left;
  padding-right: 1em;
}

/**
 * Front page blog.
 */
#block-views-blogs-block {
  width: 600px;
  margin: 0 auto;
  margin-top: 6em;
}

#block-views-blogs-block .views-row {
  padding-bottom: 1em;
}

#block-views-blogs-block .views-row .views-field-title {
  font-size: 14pt;
}

/**
 * Blog content-type
 */
#block-system-main .submitted {
  padding-bottom: 1em;
}
